{
  "swagger": "2.0",
  "info": {
    "title": "Workflow Execution Service",
    "version": "v1"
  },
  "host": "aps2.platform.illumina.com",
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\""
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/v1/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get a list of workflows",
        "description": "Gets a list of workflows.",
        "operationId": "listWorkflows",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tenantId",
            "description": "ID of the tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "type": "string"
          },
          {
            "in": "query",
            "name": "categories",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "totalItemCount"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).",
            "type": "string",
            "default": "timeCreated asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list of workflows.",
            "schema": {
              "$ref": "#/definitions/WorkflowList"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Create a workflow",
        "description": "Creates a new workflow and version (if provided).",
        "operationId": "createWorkflow",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateWorkflowRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Details of the newly created workflow.",
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Ensure the workflow name is unique.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/{workflowId}": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get the details of a workflow",
        "description": "Gets the details of a workflow with a given ID.",
        "operationId": "getWorkflow",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "ID of the workflow",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the workflow.",
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          },
          "404": {
            "description": "The workflow with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workflows"
        ],
        "summary": "Update an existing workflow",
        "description": "Updates the workflow with a given ID.",
        "operationId": "updateWorkflow",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "ID of the workflow",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateWorkflowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns updated workflow.",
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          },
          "404": {
            "description": "The workflow with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Ensure the workflow name is unique.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/runs": {
      "get": {
        "tags": [
          "Workflow Runs"
        ],
        "summary": "Get a list of workflow runs",
        "description": "Gets a list of workflow runs.",
        "operationId": "listWorkflowRuns",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "type": "array",
            "items": {
              "enum": [
                "aborted",
                "aborting",
                "failed",
                "new",
                "running",
                "submitted",
                "succeeded",
                "timedOut"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "ID of the tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "totalItemCount"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).",
            "type": "string",
            "default": "timeCreated asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list of workflow runs that the user has access to.",
            "schema": {
              "$ref": "#/definitions/WorkflowRunList"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/runs/{runId}": {
      "get": {
        "tags": [
          "Workflow Runs"
        ],
        "summary": "Get the details of a workflow run",
        "description": "Gets the details of a workflow run with a given ID.",
        "operationId": "getWorkflowRun",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "description": "ID of the workflow run",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "definition",
                "engineParameters"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the workflow run.",
            "schema": {
              "$ref": "#/definitions/WorkflowRun"
            }
          },
          "404": {
            "description": "The workflow run with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/runs/{runId}:abort": {
      "put": {
        "tags": [
          "Workflow Runs"
        ],
        "summary": "Abort a workflow run",
        "description": "Aborts the workflow run with a given ID.",
        "operationId": "abortWorkflowRun",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "description": "ID of the workflow run",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "definition",
                "engineParameters"
              ],
              "type": "string"
            }
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AbortWorkflowRunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the aborted workflow run.",
            "schema": {
              "$ref": "#/definitions/WorkflowRun"
            }
          },
          "404": {
            "description": "The workflow run with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/runs/{runId}/history": {
      "get": {
        "tags": [
          "Workflow Runs"
        ],
        "summary": "Get a list of workflow run history events",
        "description": "Gets a list of history events for a workflow run with a given ID.",
        "operationId": "listWorkflowRunHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "description": "ID of the workflow run",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "eventId asc"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "totalItemCount"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list of workflow run history events.",
            "schema": {
              "$ref": "#/definitions/WorkflowRunHistoryEventList"
            }
          },
          "404": {
            "description": "The workflow run with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/signals/{signalId}": {
      "get": {
        "tags": [
          "Workflow Signals"
        ],
        "summary": "Get the details of a workflow signal",
        "description": "Gets the details of a workflow signal with a given ID.",
        "operationId": "getSignal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signalId",
            "description": "ID of the workflow signal",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the workflow signal.",
            "schema": {
              "$ref": "#/definitions/WorkflowSignal"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "The signal with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/signals": {
      "get": {
        "tags": [
          "Workflow Signals"
        ],
        "summary": "Get a list of workflow signals",
        "description": "Gets a list of workflow signals.",
        "operationId": "listSignals",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tenantId",
            "description": "ID of the tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "totalItemCount"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).",
            "type": "string",
            "default": "timeCreated asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list of workflow signals that the user has access to.",
            "schema": {
              "$ref": "#/definitions/WorkflowSignalList"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/signals/{signalId}:succeed": {
      "patch": {
        "tags": [
          "Workflow Signals"
        ],
        "summary": "Succeed a workflow signal",
        "description": "Responds to a pending workflow signal with a successful result.",
        "operationId": "succeedSignal",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signalId",
            "description": "ID of the workflow signal",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SucceedWorkflowSignalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the succeeded signal.",
            "schema": {
              "$ref": "#/definitions/WorkflowSignal"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "The signal with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "The workflow signal is no longer active.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/signals/{signalId}:fail": {
      "patch": {
        "tags": [
          "Workflow Signals"
        ],
        "summary": "Fail a workflow signal",
        "description": "Responds to a pending workflow signal with a failure result.",
        "operationId": "failSignal",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signalId",
            "description": "ID of the workflow signal",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/FailWorkflowSignalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the failed signal.",
            "schema": {
              "$ref": "#/definitions/WorkflowSignal"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "The signal with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "The workflow signal is no longer active.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/{workflowId}/versions/{versionName}": {
      "get": {
        "tags": [
          "Workflow Versions"
        ],
        "summary": "Get the details of a workflow version",
        "description": "Gets the details for a workflow version with a given workflow ID and version name.",
        "operationId": "getWorkflowVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "ID of the workflow",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "versionName",
            "description": "Name of the workflow version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the workflow version.",
            "schema": {
              "$ref": "#/definitions/WorkflowVersion"
            }
          },
          "404": {
            "description": "The workflow ID or version name was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workflow Versions"
        ],
        "summary": "Update an existing workflow version",
        "description": "Updates an existing workflow version. Note: The Version, Definition, and Status cannot be changed simultaneously. Only one of these can be changed per API call.",
        "operationId": "updateWorkflowVersion",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "ID of the workflow",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "versionName",
            "description": "Name of the workflow version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateWorkflowVersionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created workflow run.",
            "schema": {
              "$ref": "#/definitions/WorkflowVersion"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Ensure the workflow version name is unique.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "The workflow ID or version name was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/{workflowId}/versions": {
      "get": {
        "tags": [
          "Workflow Versions"
        ],
        "summary": "Get a list of workflow versions",
        "description": "Gets a list of workflow versions with a given workflow ID.",
        "operationId": "listWorkflowVersions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "ID of the workflow",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "totalItemCount"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).",
            "type": "string",
            "default": "timeCreated asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list of workflow versions that the user has access to.",
            "schema": {
              "$ref": "#/definitions/WorkflowVersionList"
            }
          },
          "404": {
            "description": "The workflow with the specified ID was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workflow Versions"
        ],
        "summary": "Create a new workflow version",
        "description": "Creates a new workflow version with a given workflow ID.",
        "operationId": "createWorkflowVersion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "ID of the workflow",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateWorkflowVersionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Details of the created workflow version.",
            "schema": {
              "$ref": "#/definitions/WorkflowVersion"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Ensure the workflow version name is unique.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/versions": {
      "get": {
        "tags": [
          "Workflow Versions"
        ],
        "summary": "Get a list of all workflow versions",
        "description": "Gets a list of workflow versions across all workflows.",
        "operationId": "listAllWorkflowVersions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tenantId",
            "description": "ID of the tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "totalItemCount"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).",
            "type": "string",
            "default": "timeCreated asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list of workflow versions across all workflows.",
            "schema": {
              "$ref": "#/definitions/WorkflowVersionList"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/workflows/{workflowId}/versions/{versionName}:launch": {
      "post": {
        "tags": [
          "Workflow Versions"
        ],
        "summary": "Launch a workflow version",
        "description": "Launches a workflow version with a given workflow ID and version name.",
        "operationId": "launchWorkflowVersion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "ID of the workflow",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "versionName",
            "description": "Name of the workflow version",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Comma-separated list of properties to include in the response",
            "type": "array",
            "items": {
              "enum": [
                "definition",
                "engineParameters"
              ],
              "type": "string"
            }
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LaunchWorkflowVersionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Details of the created workflow run.",
            "schema": {
              "$ref": "#/definitions/WorkflowRun"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Permission denied.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get a list of tasks",
        "description": "Gets a list of tasks accessible by the current tenant ID.",
        "operationId": "listTasks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "names",
            "description": "Name: Optional parameter to filter the returned list. Case-Sensitive",
            "type": "string"
          },
          {
            "in": "query",
            "name": "acls",
            "description": "Name: Optional parameter to filter the returned list. Case-Sensitive",
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Optional parameter to define the page size returned. Valid inputs range from 1-1000.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort: Optional parameter to set the sort of the returned list. Valid fields include: name, timeCreated, timeModified.\r\nThe sort can be specified as asc or desc. (Default: asc.)",
            "type": "string",
            "default": "timeCreated asc"
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "pageToken: Optional parameter for navigation after initial listing. Valid values include firstPageToken,\r\nnextPageToken, and previousPageToken (provided in the list response)",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskSummaryPagedItems"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a Task",
        "description": "Creates a task. Returns the ID associated with the new task. Also returns the task version ID associated with the new task, if provided. Substitutions can be defined in the following format: \"{{string}}\", and specified at launch time.",
        "operationId": "createTask",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateTaskRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get the details of a Task",
        "description": "Gets the details of a Task for a given task ID.",
        "operationId": "getTask",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskSummary"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update an existing task.",
        "description": "Updates the task with a given ID. The task's name, description can be updated. The task's name must remain unique.",
        "operationId": "updateTask",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Details of the task to be updated.",
            "schema": {
              "$ref": "#/definitions/UpdateTaskRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks/runs": {
      "get": {
        "tags": [
          "Task Runs"
        ],
        "summary": "Get a list of task runs",
        "description": "Get a list of task runs accessible by the current tenant ID.",
        "operationId": "listTaskRuns",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "description": "Sort: Optional parameter to set the sort of the returned list. Valid fields include: name, status, timeCreated, timeModified.\r\nThe sort can be specified as asc or desc. (Default: asc.)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "names",
            "type": "string"
          },
          {
            "in": "query",
            "name": "status",
            "type": "string"
          },
          {
            "in": "query",
            "name": "versions",
            "type": "string"
          },
          {
            "in": "query",
            "name": "acls",
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Optional parameter to define the page size returned. Valid inputs range from 1-1000.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "pageToken: Optional parameter for navigation after initial listing. Valid values include firstPageToken,\r\nnextPageToken, and previousPageToken (provided in the list response)",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskRunSummaryPagedItems"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Task Runs"
        ],
        "summary": "Create and launch a task run",
        "description": "Creates and launches a task run. Returns the ID and status associated with the new task run.",
        "operationId": "createTaskRun",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateTaskRunRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks/runs/{runId}": {
      "get": {
        "tags": [
          "Task Runs"
        ],
        "summary": "Get the status of a task run",
        "description": "Gets the status of a task run for a given task run ID.",
        "operationId": "getTaskRun",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks/runs/{runId}:abort": {
      "put": {
        "tags": [
          "Task Runs"
        ],
        "summary": "Abort a task run",
        "description": "Aborts a task run for a given task run ID. The task run is required to have a status of \"Pending\" or \"Running\".",
        "operationId": "abortTaskRun",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskRunSummary"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks/runs/{runId}:heartbeat": {
      "post": {
        "tags": [
          "Task Runs"
        ],
        "summary": "Heartbeat for a task run",
        "description": "Heartbeat a task run for a given task run ID. This notifies TES that a task run is executing.",
        "operationId": "heartbeatTaskRun",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/HeartbeatTaskRunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskRunHeartbeat"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks/{taskId}/versions": {
      "get": {
        "tags": [
          "Task Versions"
        ],
        "summary": "Get a list of versions",
        "description": "Gets a list of task versions within the given task accessible by the current tenant ID.",
        "operationId": "listTaskVersions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort: Optional parameter to set the sort of the returned list. Valid fields include: name, version, timeCreated, timeModified.\r\nThe sort can be specified as asc or desc. (Default: asc.)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "versions",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ids",
            "type": "string"
          },
          {
            "in": "query",
            "name": "acls",
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Optional parameter to define the page size returned. Valid inputs range from 1-1000.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "pageToken: Optional parameter for navigation after initial listing. Valid values include firstPageToken,\r\nnextPageToken, and previousPageToken (provided in the list response)",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskVersionSummaryPagedItems"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Task Versions"
        ],
        "summary": "Create a task version",
        "description": "Creates a new task version within an existing task. Returns the ID associated with the new task version. Substitutions can be defined in the following format: \"{{string}}\", and specified at launch time.",
        "operationId": "createTaskVersion",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateTaskVersionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskVersion"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks/{taskId}/versions/{versionId}": {
      "get": {
        "tags": [
          "Task Versions"
        ],
        "summary": "Get the details of a task version",
        "description": "Gets details of a task version for a given task version ID.",
        "operationId": "getTaskVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "versionId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskVersion"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Task Versions"
        ],
        "summary": "Update task version properties",
        "description": "Update details of a task version for a given task version ID.",
        "operationId": "updateTaskVersion",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "versionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateTaskVersionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskVersion"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/tasks/{taskId}/versions/{versionId}:launch": {
      "post": {
        "tags": [
          "Task Versions"
        ],
        "summary": "Launch a task version",
        "description": "Launches a task version for a given task version ID. Returns the ID associated with the new task run. Substitutions defined in the task version must be specified.",
        "operationId": "launchTaskRun",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "versionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/LaunchTaskRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/{fileId}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get details about a file, including a pre-signed URL for download",
        "description": "Get information and details for the specified file ID, including metadata and a pre-signed URL for file download. The URL can be used as a curl command or directly with S3.",
        "operationId": "getFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "presignedUrlMode",
            "description": "Optional parameter to specify presigned url's content-disposition. If not specified, the browser will determine the default behavior.\r\n            Possible values: Attachment, Inline, Browser",
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeVolumeMetadata",
            "description": "Optional parameter to return volume's metadata",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "metadata.include",
            "description": "Optional parameter to specify comma separated patterns to include metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.exclude",
            "description": "Optional parameter to specify comma separated patterns to exclude metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Files"
        ],
        "summary": "Update a file entry in GDS and get temporary credentials for upload",
        "description": "Update a file entry in GDS. Returns temporary credentials and presigned url(s) for file upload directly to S3 when the include=objectStoreAccess parameter is used. Note that the currently supported changes to the file resource are updating the file type and the underlying content.",
        "operationId": "updateFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          },
          {
            "in": "query",
            "name": "uploadPartCount",
            "description": "Optional number of parts for the presigned url for uploads (1 - 10000)",
            "type": "integer",
            "format": "int32",
            "maximum": 10000,
            "minimum": 1
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateFileRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileWriteableResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Permanently delete a file",
        "description": "Permanently delete a file entry and its underlying content",
        "operationId": "deleteFile",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Create a file entry in GDS and get temporary credentials for upload",
        "description": "Create a file entry in GDS. Returns temporary credentials and presigned url(s) for file upload directly to S3 when the include=objectStoreAccess parameter is used. Volume ID or volume name is required for file creation. If a folder path is provided and does not exist, GDS creates the folder path in the appropriate account automatically.",
        "operationId": "createFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          },
          {
            "in": "query",
            "name": "uploadPartCount",
            "description": "Optional number of parts for the presigned url for uploads (1 - 10000)",
            "type": "integer",
            "format": "int32",
            "maximum": 10000,
            "minimum": 1
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFileRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created new File.",
            "schema": {
              "$ref": "#/definitions/FileWriteableResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Make sure the new File doesn't already exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Files"
        ],
        "summary": "Updates list of files with metadata",
        "description": "Updates list of files with metadata",
        "operationId": "bulkFileUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/BulkFileUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/BulkFileUpdateResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/BulkFileUpdateResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get a list of files",
        "description": "Given a volumeId or volume name, get a list of files accessible by the JWT. The default sort returned is alphabetical, ascending. The default page size is 10 items",
        "operationId": "listFiles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "volume.id",
            "description": "Optional field that specifies comma-separated volume IDs to include in the list",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "volume.name",
            "description": "Optional field that specifies comma-separated volume names to include in the list",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "path",
            "description": "Optional field that specifies comma-separated paths to include in the list. Value can use wildcards (e.g. /a/b/c/*) or exact matches (e.g. /a/b/c/d/).",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "isUploaded",
            "description": "Optional field to filter by Uploaded files",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "archiveStatus",
            "description": "Optional field that specifies comma-separated Archive Statuses to include in the list",
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "Optional field to specify if files should be returned recursively in and under the specified paths, or only directly in the specified paths",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "presignedUrlMode",
            "description": "Optional parameter to specify presigned url's content-disposition. If not specified, the browser will determine the default behavior.\r\nPossible values: Attachment, Inline, Browser",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, PresignedUrl, InheritedAcl",
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "START_DESC END_DESC",
            "type": "integer",
            "format": "int32",
            "maximum": 10000,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "START_DESC END_DESC",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.include",
            "description": "Optional parameter to specify comma separated patterns to include metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.exclude",
            "description": "Optional parameter to specify comma separated patterns to exclude metadata by their field names.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileListResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/list": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Get a list of volume files",
        "description": "Gets file list by volume ID and an array of file IDs. The default sort returned is alphabetical, ascending",
        "operationId": "listVolumeFiles",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VolumeFileListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/VolumeFileListResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/copy": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Copy list of files",
        "description": "Copies a list of files enumerated by file Ids to a destination folder",
        "operationId": "copyFiles",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileListCopyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/{fileId}:completeUpload": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Complete a file Upload",
        "description": "Complete a file upload operation. If the file was uploaded using multipart uploads, combine all the multiple parts uploaded into one complete file.",
        "operationId": "completeFileUpload",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file upload to be completed.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileUploadCompleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict.",
[...]
